services:
  postgres:
    image: pgvector/pgvector:pg15
    container_name: MedBook-db
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: MedBook-back
    restart: unless-stopped
    volumes:
      - ./backend/uploads:/app/uploads
      - ./backend/private:/app/private
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app-network
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    command: sh -c "npm run prisma:migrate && if [ \"$SEED_DB\" = \"true\" ]; then npm run prisma:seed; fi && npm run start:prod"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
        NEXT_PUBLIC_BASE_URL: ${NEXT_PUBLIC_BASE_URL}
        NEXT_PUBLIC_SOCKET_URL: ${NEXT_PUBLIC_SOCKET_URL}
    container_name: MedBook-front
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - backend
    networks:
      - app-network
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  nginx:
    image: nginx:1.28.1-alpine
    container_name: MedBook-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/certs:/etc/nginx/certs:ro
      - certbot_webroot:/var/www/certbot:ro
      - letsencrypt_certs:/etc/letsencrypt:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-network
    logging:
      driver: json-file
      options:
        max-size: "5m"
        max-file: "3"

  certbot:
    image: certbot/certbot:latest
    container_name: MedBook-certbot
    volumes:
      - certbot_webroot:/var/www/certbot
      - letsencrypt_certs:/etc/letsencrypt
    entrypoint: /bin/sh -c "trap exit TERM; while :; do certbot renew --quiet; sleep 12h & wait $${!}; done"
    networks:
      - app-network

volumes:
  postgres_data:
    external: true
    name: new-main_postgres_data
  certbot_webroot:
  letsencrypt_certs:

networks:
  app-network:
    driver: bridge